header{
    background-color:lightgray;
    color:darkorchid;
    font-size:40px;
    font-family:Garamond;
}

p.headerparagraph{
    color: blueviolet;
    font-size: 34px;
    font-family: Garamond;
}

main{
    background-color: lavender;
    color: darkmagenta;
    font-family: Garamond;
}

h1.headerStyle{
    font-weight: bold;
    font-size: 40px;
    color: indigo;
    font-family: Garamond;
}

h1{
    font-size: 32px;
    color:indianred;
    font-weight: bold
}

h1.classesheader{
    font-size: 36px;
    color: mediumvioletred;
    font-weight: bold;
    font-family: Georgia;
}

h3{
    font-size: 28px;
    color: royalblue;
    font-weight: bold;
}

p{
    font-size: 18px;
    color: black;
    font-family:Bahnschrift;

}
footer{
    background-color: aquamarine;
    color: rebeccapurple;
}

nav ul li{
    display: inline-block;
    color: aqua;
}

nav a{
    font-weight: bold;
    color: aquamarine;
}

nav ul{
    background-color: darkorchid;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

nav{
        display: inline-block;
        color: aqua;
}


