/*Color Theme from Adobe Color Wheel 
    Dark purple: #8909B8
    Light yellow/gold: #FFDB8F
    light purple: #DB7AFF
    sea foam green: #61FFBA
    darker green: #3BB37E
    medium grey(slight tan): #B6A88F
    deep dark purple: #7100B3
    orange: #FF8E00
    dark gray: #6B625B
    dark gray purple: #615178

    pastel colors:
    #a6f0c6 sea foam green
    #a98b98  light purple grey
    #4e3d53    dark purple grey
    #0f1123     almost black
    */
/*Google font families
font-family: 'Dosis', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
school name: font-family: 'Fredoka One', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@import url(import.css);

header {
    background-color: RGBA(169,139,152, .9);
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    margin: .5em;
    padding-bottom: 1em;
}

main {
    background-color: RGBA(78,61,83,.9);
    color: #FFDB8F;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    margin: .5em;
}

h1.headerStyle {
    font-size: 3em;
    color: #7100B3;
    font-weight: bolder;
    font-family: 'Acme', sans-serif;
}

#ChooseUsParagraph {
    color: #FFDB8F;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

h3 {
    font-size: 2em;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-weight: bold;
}

p {
    font-size: 1em;
    color: #a98b98;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

    p.headerparagraph {
        color: #FFDB8F;
        font-size: 2em;
        font-family: 'Playfair Display', serif;
    }

footer {
    background-color: RGBA(166,240,198,.8);
    text-align: left;
    margin: .5em;
}

footer a{
    color: black;
    text-decoration: underline;
    text-alignment: center;
}

nav a {
    font-weight: bold;
    color: #0f1123;
    background-color: RGBA(166,240,198,.8);
}

nav ul {
    background-color: RGBA(166,240,198,.8);
    margin: .5em;
    padding: .6em;
}

a {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    background-color: RGBA(166,240,198,.8);
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
}

nav a:hover, .selected {
    background-color: RGBA(166,240,198,.8);
    color: #7100B3;
}

nav ul li a {
    padding: .5em 1em;
    display: block;
    background-color: RGBA(166,240,198,.8);
}

h1.chooseusheader {
    text-align: center;
    color: #615178;
    background-color: RGBA(166,240,198,.8);
    font-size: 2em;
    margin: 1em;
}

header img {
    float: left;
}

p.socialmedia{
    text-align: right;
    color: black;
    margin-right: 1em;
    font-size: 1.5em;

}

body {
    background-image: url('../Images/full background.jpg');
    background-size: cover;
    background-attachment: fixed;
}