header{
    background-color: lightgray;
    color: darkorchid;
    font-size: 40px;
    font-family: Garamond;
}

main{
    background-color: lavender;
    color: darkmagenta;
    font-family: Garamond;
}

h1.headerStyle{
    font-weight: bold;
    font-size: 40px;
    color: indigo;
    font-family: Garamond;
}

h1{
    font-size: 28px;
    color: darkgreen;
    font-family: Tahoma;
    font-weight: bold;
}

h3{
    font-size: 25px;
    font-family: Garamond;
    font-weight: bold;
    color:darkcyan;
}

p.headerparagraph{
    color: blueviolet;
    font-size: 34px;
    font-family: Garamond;
    font-weight: bold;
}

#teamHeader{
    font-size: 30px;
    font-family: Georgia;
    color: darkgoldenrod;
    font-weight: bold;
}

p{
    font-size: 22px;
    color:darkblue;
    font-family: Garamond;
}

footer{
    background-color: aquamarine;
    color: rebeccapurple;
}

nav ul li {
    display: inline-block;
    color: aqua;
}
